body {
  background-color: #cccccc;
  transition: background-color 1s ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  max-width: 100%;
}
